* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  background-color: #fff;
}

.star{
  width: 16px;
  height: 15px;
}

.container{
  width: 375px;
  height: 1530px;
  margin: 82px 24px 99px 24px;
}

.header{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 39px;
  width: 327px;
  height: 219px;
}




.title{
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #512051;
  line-height: 32px;
  margin-bottom: 17px;
}

.text{
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin-bottom: 39px;
}


.subtitle{
  text-align: center;
  color: #512051;
  font-size: 17px;
}

.three-pack{
  width: 327px;
  height: 266px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4 4 hsl(0, 0%, 0%/0.25);
}


.one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F2F7;
  border-radius: 8px;
  width: 327px;
  height: 78px;
  margin-bottom: 16px;
}

.container-pack{
  display: flex;
  justify-content: center;
}

.two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F2F7;
  border-radius: 8px;
  width: 327px;
  height: 78px;
  margin-bottom: 16px;
}

.container-pack-2{
  display: flex;
  justify-content: center;
}

.three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F2F7;
  border-radius: 8px;
  width: 327px;
  height: 78px;
}

.container-pack-3{
  display: flex;
  justify-content: center;
}

.three-purpe{

}

.purple-1{
  background-color: #512051;
  width: 327px;
  height: 248px;
  border-radius: 8px;
  margin-top: 49px;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;

}

.photo-text-1{
  display: flex;
  padding-top: 40px;
  padding-left: 32px;
  margin-right: 133px;
  
}

.photo{
  width: 40px;
  height: 40px;
  border-radius: 100px;
   

}

.name-verified-1{
  display: flex;
  margin-left: 23px;
  width: 99px;
  height: 36px;

}

.colton{
  margin: 0;
  font-weight: 700;
  color: #fff;

}

.text-color{
  color: #EE69A4;

}

.text-purple{
  margin: 0;

}