* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  background-color: #fff;
}


.star{
  width: 16px;
  height: 15px;
}

.container{
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1530px;
  margin: 82px 24px 99px 24px;
}

@media screen and (width>768px){
  .container{
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}


.top{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 39px;
  width: 327px;
  height: 219px;
}


.title{
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #512051;
  line-height: 32px;
  margin-bottom: 17px;
}

.text{
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin-bottom: 39px;
}


.subtitle{
  text-align: center;
  color: #512051;
  font-size: 17px;
  margin-bottom: 0;
}

.three-pack{
  width: 327px;
  height: 266px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4 4 hsl(0, 0%, 0%/0.25);
}


.one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F2F7;
  border-radius: 8px;
  width: 327px;
  height: 78px;
  margin-bottom: 16px;
}

.container-pack{
  display: flex;
  justify-content: center;
}

.two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F2F7;
  border-radius: 8px;
  width: 327px;
  height: 78px;
  margin-bottom: 16px;
}

.container-pack-2{
  display: flex;
  justify-content: center;
}

.three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F2F7;
  border-radius: 8px;
  width: 327px;
  height: 78px;
}

.container-pack-3{
  display: flex;
  justify-content: center;
}


.purple-1{
  background-color: #512051;
  width: 327px;
  height: 248px;
  border-radius: 8px;
  margin-top: 49px;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;

}



.photo-text-1{
  display: flex;
  padding-top: 40px;
  padding-left: 32px;
  
}

.photo{
  width: 40px;
  height: 40px;
  border-radius: 100px;
   

}

.name-verified-1{
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  width: 99px;
  height: 36px;

}

.colton{
  margin: 0;
  font-weight: 700;
  color: #fff;

}

.buyer{
  margin: 0;
  color: #EE69A4;
  margin-top: 4px;
  font-weight: 400;
}


.text-purple-div{
  
  margin: 0;
  font-weight: 500;
  width: 263px;
  height: 110px;
  line-height: 22px;
  margin-top: 23px;
  margin-left: 32px;
  letter-spacing: -0.3px;
}

.text-purple{
  color: #fff;
  margin: 0;
  
}

.purple-2{
  background-color: #512051;
  width: 327px;
  height: 248px;
  border-radius: 8px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;

}
.photo-text-2{
  display: flex;
  padding-top: 40px;
  padding-left: 32px;
  
}

.name-verified-2{
  margin-left: 23px;
}

.purple-3{
  background-color: #512051;
  width: 327px;
  height: 248px;
  border-radius: 8px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;

}

.photo-text-3{
  display: flex;
  padding-top: 40px;
  padding-left: 32px;
  
}

.name-verified-3{
  margin-left: 23px;
}

@media screen and (width>768px){
  .top{
    margin: 0;
    width: 445px;
    height: 245px;
  }
  .title{
    font-size: 56px;
    text-align: left;
  }
  .text{
    font-size: 19px;
    text-align: left;
  }

}

@media screen and (width>768){
  .three-pack{
    width: 540px;
    height: 200px;
  }
}



@media screen and (width>768px){
  .one{
    width: 445px;
    height: 56px;
  }
}

@media screen and (width>768px){
  .two{
    width: 445px;
    height: 56px;
  }
}

@media screen and (width>768px){
  .three{
    width: 445px;
    height: 56px;
  }
}



@media screen and (width>768px){
  .purple-1{
  margin-left: 165px;
  margin-right: 30px;
  margin-top: 71px;
  }
}

@media screen and (width>768px){
  .purple-2{
    margin-top: 87px;
  margin-right: 30px;
  }
}

@media screen and (width>768px){
  .purple-3{
    margin-top: 103px;

  }
}